.vscode
.vim


obj/*
!obj/.gitkeep

lib/libipinfo.so


example/bin/*
!example/bin/.gitkeep

example/include/*
!example/include/.gitkeep

example/obj/*
!example/obj/.gitkeep

example/lib/*
!example/lib/.gitkeep
